# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# VS Code
.vscode/

# Windows
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Terraform local binary
terraform.exe

# Local secrets/helpers
aws-env.sh
.env