ORDER_API_BASE_URL=https://ijo9nrul2c.execute-api.us-east-1.amazonaws.com
ORDER_OPERATOR_TOKEN=token

E2E_ORDER_ITEMS=SKU-1:1
E2E_ORDER_LAT=4.7110
E2E_ORDER_LNG=-74.0721

E2E_EXPECTED_ORDER_STATUS_AFTER_RECEIVED=VALIDATED
E2E_POLL_TIMEOUT_MS=600000
E2E_POLL_INTERVAL_MS=15000
